# Configuration file

general {
    # Disables certain recipes and make some recipes harder. 
    # ï¿½4Restart required!ï¿½r
    B:"Hardcore Recipes"=false

    # Should mobs rarely drop head when killed? 
    # (Note: Applies to Creepers, Zombies, Skeletons, and Enderdragons) 
    # ï¿½2Doesn't require restart.ï¿½r
    B:"Mob Head Drops"=true

    # The amount of Netherwood trees to attempt to generate per chunk. This only affects new chunks. 
    # ï¿½2Doesn't require restart.ï¿½r
    I:"Netherwood Gen Freq"=16

    # Override drops of squids and spiders to drop the new items? You still can get the vanilla resources. 
    # ï¿½2Doesn't require restart.ï¿½r
    B:"Override Mob Drops"=true

    # Enable or disable recipes involving dismantling items to get resources back. It also includes converting stairs and slabs back to blocks. 
    # ï¿½4Restart required!ï¿½r
    B:"Salvage Recipes"=true

    # Enable or disable silly recipes such as crafting a bedrock using a bed and a stone. 
    # ï¿½4Restart required!ï¿½r
    B:"Silly Recipes"=false
}


